* {
box-sizing: border-box;
}

button, input, textarea, select {
  outline: none;
}

html {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  font-size: 16px;
}

@media all and (min-width: 400px) {
  html {
    font-size: 22px;
  }
}

@media all and (min-width: 600px) {
  html {
    font-size: 32px;
  }
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  background-color: #000;
}

.loading-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
}

.loading-overlay img {
    width: 16Opx;
    height: 16Opx;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/* MUSIC */

.btn-music {
  width: 4em;
  height: 4em;
  background-color: transparent;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 999;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0;
  animation: btnMusicAni 3s infinite linear;
}

.btn-music i {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    color: #fff;
    font-size: 2em;
    position: absolute;
    top: -2px;
    left: -2px;
}

.btn-music.paused {
    opacity: 0.4;
    animation: none;
}

@keyframes btnMusicAni {
  0% {  transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/********/
/* ARROW */

.up-arrow {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: 999;
  background: none;
  border: none;
  padding: 0;
  animation: upArrowAni 2s infinite linear;
}

.up-arrow i {
    text-align: center;
    color: #fff;
    font-size: 5em;
}

@keyframes upArrowAni {
  0% { opacity: 0; transform: translate3d(-50%, 30%, 0); }
  30% { opacity: 1; transform: translate3d(-50%, -20%, 0); }
  60% { opacity: 0; transform: translate3d(-50%, -35%, 0); }
  100% { opacity: 0; transform: translate3d(-50%, -50%, 0); }
}

/********/
/* SWIPER */

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet-active {
    background: #fff!important;
}

.swiper-slide {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.swiper-slide h2 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.swiper-slide img {
  width: 40%;
  margin: 20px 0px;
}

.slide-1 {
  background-color: #F95959;
}

.slide-2 {
  background-color: #718CA1;
}

.slide-3 {
  background-color: #7AB7FF;
}

@-webkit-keyframes rotation {
    10% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
    50%, 60% { transform: rotate(0deg); -webkit-transform: rotate(0deg) }
    90% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
    100% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
}
@keyframes rotation {
    10% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
    50%, 60% { transform: rotate(0deg); -webkit-transform: rotate(0deg) }
    90% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
    100% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
}

/********/
/* DESKTOP VIEW */

#orientLayer { display: none; }

@media screen and (min-aspect-ratio: 13/9) {
    #orientLayer { display: block; }
}
.mod-orient-layer { display: none; position: fixed; height: 100%; width: 100%; left: 0; top: 0; right: 0; bottom: 0; background: #000; z-index: 9997 }
.mod-orient-layer-content { position: absolute; width: 100%; top: 45%; margin-top: -75px; text-align: center }
.mod-orient-layer-icon-orient {background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIYAAADaCAMAAABU68ovAAAAXVBMVEUAAAD29vb////x8fH////////x8fH5+fn29vby8vL////5+fn39/f6+vr////x8fH////////+/v7////09PT////x8fH39/f////////////////////x8fH///+WLTLGAAAAHXRSTlMAIpML+gb4ZhHWn1c2gvHBvq1uKJcC6k8b187lQ9yhhboAAAQYSURBVHja7d3blpowFIDhTUIAOchZDkre/zE7ycySrbUUpsRN2/1fzO18KzEqxEVgTiZNfgmmtxRc8iaR8HNe8x4BtjQePKayYCIoyBSgvNNE1AkNSHqZyLqk97EgUCCHBzZ5mkg7ScvIJuIyOyXBRFxgpqWZyGsAZLB1KjsJi8nutHU4JCRbFRH8tmirI9k8Jx2sqNs8K/m0LQkrktO2crgcgXGB4AiTEsB0hJfo9MGgX7CGcYiYwQxmMOOvZwRhBG8tCoMXjBDeXvWCEcHbi14wgCBmMIMZzGAGM5jxETNwzMAxA8cMHDNwzMAxA8cMHDNwzMAxA8cMHDNwzMAxY6E2rUQxnH2tz9cirlJFwFBJedaPnUv0M7++egPDE8iAJcIDmxwH5wwv9vUviw2kLbVO3TJU5uul/EyB0FoLp4x60PdGUd3qPurrWyjGGTc05u+1dcgI7/+tCCPARWGhH7o5Y7RCf+bH9ctXLp6v2BVDxfqz0oPXeSVaNtINo/1SXDv4dck8IIkbhtC2ol+iouEonTBCbYvVMnXOjxww6s/RFrBUpXHh/gw1rHj5d/qhYn9Gpk2FWh6xRBRX5Oj3Znh2Sq49/L6+y8pB26q9GbE2dbA2mVbx6I+7MfBglLCttm73ZQi7AD3iL4HqjFYJHSPRppqaUaJ3ATpGa+ckpGak2hRRMyqjGMkvl+xyFeSMwjAqcsZgGDdyhl0oNTnDN4yenJGZFGxNChP5/Y3efh6SM2rDOJMzboYxkDMqwyjIGcIw6F+io2FU1IxIm1JqRmgXSkvNKNCXeTpGrU0JNSO2c6LIGPgCS8AuDHz9ta0SXWDtxoDRH+MqlbC2Dt2G2JFRadtQZt2qq/orGowdGb2euxYiqWEpVWhTBnszoNAPdStuQwxqf0aocdWKW4Z+DfszIh8pxJqbuCE4YAC+4bm0evtipjpgJHeFnyyt1Ku2xa0bhjxr27p75rECNwyI9ZwvXkHq+7aTaMEV44YYy/spfgjgjNHaWW+GeUhGEX7tLlVinIFDDSgnOwhi1V6bU0b6tVS9eAERe863g4dRrtiHdc6o+nn5vtyVVgR79Cqt4uL6gfHPQyGqtP2vf7HADGbcYwaOGThm4JiBYwaOGThm4JiBYwaOGThm4JiBYwaOGThm4JiBYwaOGThm4JjhtOM+J/AgT008yDMkN/dPP9hzS8zAMQN3OEYeekp5YU7KOKXwVXqiY+QS7smcinGKABWdiBgpPJTSMHJ4KidhhPBUSMLw4CmPhKHgKUXCkHsygum71ftNSgCX6bsl8FQyfbcL5EdYsDk0R3j7aiA5wpt5AjKg/2gLJEBD/0Hf2OOf/vRrj6z/7GtP4B3nMKyjHA12kIPSjnJs3FEO0TvKkYJHOWCR+rjJH0Vn6fI5PjNbAAAAAElFTkSuQmCC');display: inline-block; width: 67px; height: 109px;
    transform: rotate(90deg); -webkit-transform: rotate(90deg); -webkit-animation: rotation infinite 1.5s ease-in-out; animation: rotation infinite 1.5s ease-in-out; -webkit-background-size: 67px; background-size: 67px }
.mod-orient-layer-desc { margin-top: 20px; font-size: 15px; color: #fff }
