/********/
/* ARROW */

.up-arrow {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: 999;
  background: none;
  border: none;
  padding: 0;
  animation: upArrowAni 2s infinite linear;
}

.up-arrow i {
    text-align: center;
    color: #fff;
    font-size: 5em;
}

@keyframes upArrowAni {
  0% { opacity: 0; transform: translate3d(-50%, 30%, 0); }
  30% { opacity: 1; transform: translate3d(-50%, -20%, 0); }
  60% { opacity: 0; transform: translate3d(-50%, -35%, 0); }
  100% { opacity: 0; transform: translate3d(-50%, -50%, 0); }
}
