/********/
/* SWIPER */

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet-active {
    background: #fff!important;
}

.swiper-slide {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.swiper-slide h2 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.swiper-slide img {
  width: 40%;
  margin: 20px 0px;
}
